In [38]:
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import datetime

yf.pdr_override()

In [53]:
from requests import Session
from requests_cache import CacheMixin, SQLiteCache
from requests_ratelimiter import LimiterMixin, MemoryQueueBucket
from pyrate_limiter import Duration, RequestRate, Limiter

class CachedLimiterSession(CacheMixin, LimiterMixin, Session):
    pass

session = CachedLimiterSession(
    limiter=Limiter(RequestRate(2, Duration.SECOND*5)),  # max 2 requests per 5 seconds
    bucket_class=MemoryQueueBucket,
    backend=SQLiteCache("yfinance.cache"),
)

In [57]:
data = pdr.get_data_yahoo(
    "ADANIENT.NS", end=datetime.today(), session=session
).reset_index()
data

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-07-01,1.364148,1.401700,1.334259,1.362615,-0.010452,1080397
1,2002-07-02,1.386372,1.390971,1.356484,1.373344,-0.010535,1016147
2,2002-07-03,1.371811,1.387139,1.364914,1.373344,-0.010535,980394
3,2002-07-04,1.379475,1.401700,1.379475,1.381008,-0.010593,972747
4,2002-07-05,1.388672,1.388672,1.372578,1.377942,-0.010570,974496
...,...,...,...,...,...,...,...
5356,2024-01-19,2945.350098,2949.449951,2903.050049,2915.649902,2915.649902,2014096
5357,2024-01-22,2915.649902,2915.649902,2915.649902,2915.649902,2915.649902,0
5358,2024-01-23,3014.949951,3014.949951,2885.500000,2896.550049,2896.550049,1827002
5359,2024-01-24,2901.000000,2929.100098,2871.250000,2903.449951,2903.449951,5807940
5360,2024-01-25,2903.449951,2926.350098,2804.399902,2893.600098,2893.600098,2601969

In [49]:
yf.Ticker("ADANIENT.NS").info

{'address1': 'Adani Corporate House',
 'address2': 'Shantigram Near Vaishnodevi Circle S. G. Highway, Khodiyar',
 'city': 'Ahmedabad',
 'zip': '382421',
 'country': 'India',
 'phone': '91 79 2555 5286',
 'fax': '91 79 2555 5500',
 'website': 'https://www.adanienterprises.com',
 'industry': 'Thermal Coal',
 'industryKey': 'thermal-coal',
 'industryDisp': 'Thermal Coal',
 'sector': 'Energy',
 'sectorKey': 'energy',
 'sectorDisp': 'Energy',
 'longBusinessSummary': "Adani Enterprises Limited, together with its subsidiaries, engages in the coal trading, mining, logistics, power generation, edible oil and agro commodities, and other businesses in India and internationally. The company trades in coal; offers integrated coal management services; imports apples, pears, kiwis, oranges, grapes, and other fruits; markets fruits under the FARM-PIK brand; generates solar and wind energy; and manufactures solar panels. It is also involved in the mining of various coal and iron ore properties, as well as minerals, such as limestone, chromite, diamond, bauxite, and graphite. In addition, company offers edible oils, basmati rice, pulses, soya chunks, besan, and atta, as well as lauric and bakery fats, castor oil derivatives, oleo chemicals, and soya value added products under the Fortune, King's, Bullet, Raag, Avsar, Pilaf, Jubilee, Fryola, Alpha, and Aadhar brands. Further, it manufactures fighter aircraft, unmanned aerial systems, helicopters, submarines, air defence guns, and missiles and small arms; develops avionics and systems, opto-electronics, aero structures and components, aerospace composites, and radar and electronic warfare systems, as well as constructs national highways, motorways, tunnels, metro-rail, railways, etc. Additionally, it engages in the waste water treatment, recycle, and reuse business; and operates, manage, and develops airports; and builds data centers. The company was founded in 1988 and is headquartered in Ahmedabad, India. Adani Enterprises Limited operates as a subsidiary of S.B. Adani Family Trust.",
 'fullTimeEmployees': 6647,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Gautambhai Shantilal Adani S.Y. B.Com',
   'age': 61,
   'title': 'Executive Chairman',
   'yearBorn': 1962,
   'fiscalYear': 2023,
   'totalPay': 23900000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rajeshbhai Shantilal Adani B.Com.',
   'age': 59,
   'title': 'MD & Director',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 56000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jugeshinder  Singh',
   'title': 'Group Chief Financial Officer',
   'fiscalYear': 2023,
   'totalPay': 772100000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jatinkumar  Jalundhwala',
   'age': 63,
   'title': 'Joint President of Legal, Compliance Officer & Company Secretary',
   'yearBorn': 1960,
   'fiscalYear': 2023,
   'totalPay': 30500000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vinay Prakash Goel',
   'age': 50,
   'title': 'CEO of Natural Resources & Executive Director',
   'yearBorn': 1973,
   'fiscalYear': 2023,
   'totalPay': 522500000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pranav Vinodbhai Adani',
   'age': 45,
   'title': 'MD of Agro, Oil & Gas and Executive Director',
   'yearBorn': 1978,
   'fiscalYear': 2023,
   'totalPay': 45000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sudipta  Bhattacharya',
   'age': 56,
   'title': 'Group CTO & CEO of Adani Group North America',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Varsha  Chainani',
   'title': 'Head of Corporate Communications',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vikram  Tandon',
   'title': 'Group Chief Human Resources Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pradeep K. Bhargava',
   'age': 64,
   'title': 'Head of Management Assurance & Audit Services',
   'yearBorn': 1959,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 9,
 'boardRisk': 8,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 5,
 'overallRisk': 7,
 'governanceEpochDate': 1706400000,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 2893.6,
 'open': 2929.0,
 'dayLow': 2923.05,
 'dayHigh': 3092.7,
 'regularMarketPreviousClose': 2893.6,
 'regularMarketOpen': 2929.0,
 'regularMarketDayLow': 2923.05,
 'regularMarketDayHigh': 3092.7,
 'dividendRate': 1.2,
 'dividendYield': 0.0004,
 'exDividendDate': 1688688000,
 'payoutRatio': 0.0559,
 'fiveYearAvgDividendYield': 0.65,
 'beta': 0.74,
 'trailingPE': 143.14105,
 'volume': 4402606,
 'regularMarketVolume': 4402606,
 'averageVolume': 3514356,
 'averageVolume10days': 2602119,
 'averageDailyVolume10Day': 2602119,
 'marketCap': 3494865534976,
 'fiftyTwoWeekLow': 1017.45,
 'fiftyTwoWeekHigh': 3199.0,
 'priceToSalesTrailing12Months': 3.2997181,
 'fiftyDayAverage': 2772.461,
 'twoHundredDayAverage': 2458.2053,
 'currency': 'INR',
 'enterpriseValue': 3834105036800,
 'profitMargins': 0.02308,
 'floatShares': 257151825,
 'sharesOutstanding': 1140000000,
 'heldPercentInsiders': 0.77309,
 'heldPercentInstitutions': 0.103870004,
 'impliedSharesOutstanding': 1140380032,
 'bookValue': 298.9,
 'priceToBook': 10.253095,
 'lastFiscalYearEnd': 1680220800,
 'nextFiscalYearEnd': 1711843200,
 'mostRecentQuarter': 1696032000,
 'earningsQuarterlyGrowth': -0.506,
 'netIncomeToCommon': 24442900480,
 'trailingEps': 21.41,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1260403200,
 'enterpriseToRevenue': 3.62,
 'enterpriseToEbitda': 40.141,
 '52WeekChange': 0.0002592802,
 'SandP52WeekChange': 0.21733451,
 'lastDividendValue': 1.2,
 'lastDividendDate': 1688688000,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'ADANIENT.NS',
 'underlyingSymbol': 'ADANIENT.NS',
 'shortName': 'ADANI ENTERPRISES',
 'longName': 'Adani Enterprises Limited',
 'firstTradeDateEpochUtc': 1025495100,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '89927796-44d5-31a1-abc2-b83ed0472098',
 'messageBoardId': 'finmb_883013',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 3064.65,
 'recommendationKey': 'none',
 'totalCash': 84126498816,
 'totalCashPerShare': 73.853,
 'ebitda': 95516901376,
 'totalDebt': 571446394880,
 'quickRatio': 0.355,
 'currentRatio': 0.799,
 'totalRevenue': 1059140599808,
 'debtToEquity': 136.906,
 'revenuePerShare': 928.872,
 'returnOnAssets': 0.03216,
 'returnOnEquity': 0.064959995,
 'freeCashflow': -20896774144,
 'operatingCashflow': 201008594944,
 'earningsGrowth': -0.506,
 'revenueGrowth': -0.41,
 'grossMargins': 0.35821998,
 'ebitdaMargins': 0.090179995,
 'operatingMargins': 0.0789,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

In [66]:
datetime.strptime("2015-01-01", "%Y-%m-%d")

datetime.datetime(2015, 1, 1, 0, 0)