In [41]:
import pandas as pd
import yfinance as yf
from pandas_datareader import data as pdr
from datetime import datetime

from requests import Session
from requests_cache import CacheMixin, SQLiteCache
from requests_ratelimiter import LimiterMixin, MemoryQueueBucket
from pyrate_limiter import Duration, RequestRate, Limiter

import logging

yf.pdr_override()

In [44]:
class CachedLimiterSession(CacheMixin, LimiterMixin, Session):
    def __init__(self, timeout=None, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.timeout = timeout

    def request(self, *args, **kwargs):
        # Pass the stored timeout to the request method
        kwargs["timeout"] = self.timeout
        return super().request(*args, **kwargs)

session = CachedLimiterSession(
    limiter=Limiter(RequestRate(2, Duration.SECOND*5)),  # max 2 requests per 5 seconds
    bucket_class=MemoryQueueBucket,
    backend=SQLiteCache("yfinance.cache"),
    timeout=5
)

def get_logger(name):
    # Create a logger
    logger = logging.getLogger(name)

    # Set the logging level (adjust as needed)
    logger.setLevel(logging.DEBUG)

    # Create a console handler and set the level
    ch = logging.StreamHandler()
    ch.setLevel(logging.DEBUG)

    # Create a formatter and add it to the handler
    formatter = logging.Formatter("%(asctime)s | %(levelname)s:%(name)s - %(message)s")
    ch.setFormatter(formatter)

    # Add the handler to the logger
    logger.addHandler(ch)
    return logger

logger = get_logger("notebook")

In [33]:
data = pdr.get_data_yahoo(
    "ADANIENT.NS", end=datetime.today(), session=session, interval="1m"
).reset_index()
data

[*********************100%%**********************]  1 of 1 completed

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2024-01-24 09:15:00+05:30,2901.050049,2928.800049,2901.050049,2920.000000,2920.000000,0
1,2024-01-24 09:16:00+05:30,2920.100098,2926.899902,2918.649902,2924.449951,2924.449951,10445
2,2024-01-24 09:17:00+05:30,2924.250000,2924.250000,2911.000000,2915.050049,2915.050049,15317
3,2024-01-24 09:18:00+05:30,2913.050049,2913.050049,2902.800049,2905.100098,2905.100098,15000
4,2024-01-24 09:19:00+05:30,2902.199951,2903.899902,2885.149902,2887.449951,2887.449951,15909
...,...,...,...,...,...,...,...
1485,2024-01-30 15:25:00+05:30,3095.250000,3096.000000,3093.600098,3096.000000,3096.000000,8138
1486,2024-01-30 15:26:00+05:30,3095.899902,3097.750000,3094.750000,3097.649902,3097.649902,10538
1487,2024-01-30 15:27:00+05:30,3098.000000,3098.000000,3095.000000,3096.699951,3096.699951,19169
1488,2024-01-30 15:28:00+05:30,3097.250000,3097.449951,3095.500000,3097.000000,3097.000000,15108
1489,2024-01-30 15:29:00+05:30,3095.500000,3096.949951,3094.100098,3096.000000,3096.000000,4411

In [48]:
def get_ticker_info(ticker_code: str):
    # Create a Ticker object using yfinance with the provided ticker code and session
    ticker_info = yf.Ticker(ticker_code, session=session)

    # Retrieve information about the ticker
    ticker_info = ticker_info.info
    if "symbol" in ticker_info:
        return ticker_info
    else:
        logger.error("Invalid Ticker code '%s'", ticker_code)
        raise ValueError("Invalid Ticker code '%s'", ticker_code)


get_ticker_info("AAPLO")

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AAPLO?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=AAPLO&crumb=d35fjhGTSAb
2024-01-30 17:52:38,388 | ERROR:notebook - Invalid Ticker code 'AAPLO'
2024-01-30 17:52:38,388 | ERROR:notebook - Invalid Ticker code 'AAPLO'
2024-01-30 17:52:38,388 | ERROR:notebook - Invalid Ticker code 'AAPLO'
2024-01-30 17:52:38,388 | ERROR:notebook - Invalid Ticker code 'AAPLO'
2024-01-30 17:52:38,388 | ERROR:notebook - Invalid Ticker code 'AAPLO'

ValueError: ("Invalid Ticker code '%s'", 'AAPLO')

In [66]:
datetime.strptime("2015-01-01", "%Y-%m-%d")

datetime.datetime(2015, 1, 1, 0, 0)